body{
    font-size: 40px;
    font-weight: bold;
    background-color: #faf8ef;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

h1{
    color: #776e65;
    float:left;
}

a{
    color: #776e65;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline;
}

hr{
    margin:30px 0px 30px 0px;
    border-bottom: 1px solid #d8d4d0;
    color: #776e65;
}

.main{
    margin:0px max(33%) 0px max(33%);
    position: absolute;
}

.box{
    height: 100%;
    border-style:solid;
    border-color: #bbada0;
    border-width: 15px;
    text-align: center;
    padding-top: 40px;
}

.col{
    width: 160px;
    height: 90px;
    float: left;
}

.top-bar{
    height: 200px;
    width: max-content;
    background-color: #faf8ef;
}

.button{
    background-color: #8f7a66;
    border-style:solid;
    border-radius: 3px;
    border-color: #8f7a66;
    color: #f9f6f2;
    width: 175px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 70px;
    margin-left: 240px;
}

.scoreDiv{
    float:left;
    margin-left: 469px;
    margin-top: 60px;
    position: absolute;
}

.scoreCount, .scoreBest{
    font-size: 20px;
    background-color: #bbada0;
    width: min-content;
    height: 55px;
    float:left;
    margin:5px;
    text-align: center;
    padding-top: 10px;
    border-radius: 3px;
    color: #ffffff;
}
.scoreCount::before{
    content: "Score";
    float:left;
    color: #eee4da;
    text-transform: uppercase;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 8px;
    font-size: 13px;
    font-weight: bold;
}

.scoreBest::before{
    content: "Best";
    float:left;
    color: #eee4da;
    text-transform: uppercase;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 8px;
    font-size: 13px;
    font-weight: bold;
}

.intro{
    color: #776e65;
    font-weight: normal;
    font-size: 18px;
    float: left;
    margin-bottom: 60px;
}

.howToPlay{
    color: #776e65;
    font-size: 18px;
    font-weight: normal;
    margin-top: 700px;
    width: 650px;
    margin-bottom: 200px;
    background-color: #faf8ef;
}

.explain_highlight{
    animation: explain_animation 3s ease-in .2s;
}

.explain_default{
    background-color: #faf8ef;
}

@keyframes explain_animation {
    0% {
      background-color: #f3d774;
      box-shadow: 0 0 0 15px #f3d774;
    }
    100% {
      background-color: transparent;
      box-shadow: 0 0 0 10px transparent;
    }
}