body{
    font-size: 40px;
    font-weight: bold;
    background-color: #faf8ef;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

h1{
    color: #776e65;
}

.box{
    height: 100%;
    border-style:solid;
    border-color: #bbada0;
    border-width: 15px;
    text-align: center;
    background-color: #cdc1b4;
    animation-duration: 1s;
    color: #776e65;
    /*animation-name: appear;*/
}

.col{
    width: 180px;
    height: 150px;
    float: left;
}

.col:nth-last-of-type(){
    border-bottom: black;
}

.top-bar{
    height: 10%;
    width: 100%;
    background-color: #faf8ef;
}

@keyframes appear{
    from{
        background-color: white;
    }

    to{
        background-color: #cdc1b4;
    }
}