body{
    font-size: 40px;
    font-weight: bold;
    background-color: #faf8ef;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

h1{
    color: #776e65;
}

.box{
    height: 100%;
    border-style:solid;
    border-color: #bbada0;
    border-width: 15px;
    text-align: center;
    padding-top: 40px;
    animation-duration: 1s;
    /*animation-name: appear;*/
}

.col{
    width: 160px;
    height: 90px;
    float: left;
}

.col:nth-last-of-type(){
    border-bottom: black;
}

.top-bar{
    height: 10%;
    width: 100%;
    background-color: #faf8ef;
}

.button{
    background-color: #8f7a66;
    border-style:solid;
    border-radius: 3px;
    border-color: #8f7a66;
    color: #f9f6f2;
    width: 175px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes appear{
    from{
        background-color: white;
    }

    to{
        background-color: #cdc1b4;
    }
}